html, body {
  margin: 0;
  padding: 0;
}

body h3 {
  padding: 30px;
}

.wrap {
  margin-top: 30px;
}

.viewer {
  position: relative;
  width: 720px;
  margin: 0 auto;
}

.viewer .image-object {
  position: absolute;
}
