.header {
  background-color: white;
  min-height: 60px;
  position: relative;
  z-index: 5000;
}

.header header {
  box-shadow: 0 1px 1px rgba(0,0,0,.14);
}

.header__logo {
  line-height: 60px;
  padding-left: 35px;
}
